{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}登录{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>登录</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{#{% for message in get_flashed_messages() %}#}
{#    <div class="alert alert-waring">#}
{#        <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#        {{ message }}#}
{#    </div>#}
{#{% endfor %}#}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                <li>{{ category }}:{{ message }}</li>
            {% endfor %}
        </ul>  
    {% endif %}
{% endwith %}
{% endblock %}
